body {
  background-color: #9986b3;
}

#layout {
  max-width: 1200px;
  min-height: clamp(600px, 98vh, 1000px);
  margin: 0 auto;
  padding: 0 clamp(10px, 3vw, 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

/* header */
#header {
  border: 1px solid black;
  width: 100%;
  margin: clamp(5px, 1vh, 15px) 0;
  min-height: clamp(60px, 10vh, 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* header 요소 */
#logo {
  border: 1px solid black;
  width: 30%;
  box-sizing: border-box;
  min-width: 130px;
}
#logo > p {
  font-size: clamp(20px, 3vw, 40px);
  color: #e0dbef;
  text-align: center;
}

#title,
#name {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#title {
  width: 50%;
}

#name {
  width: 20%;
}

#header input, #upload-write {
  background-color: #e0dbef;
  border-radius: 50px;
  padding: clamp(8px, 1vh, 12px) clamp(15px, 2vw, 30px);
  border: none;
  text-align: center;
  font-size: clamp(12px, 0.8vw, 16px);
}

#title > input {
  width: 90%;
}

#name > input {
  width: 50%;
}

/* main */
#main {
  border: 1px solid black;
  width: 100%;
  height: clamp(400px, 70vh, 800px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#main > div {
  width: 100%;
  height: 100%;
  background-color: #e0dbef;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#write {
  width: 97%;
  height: 95%;
  border: none;
  font-size: clamp(14px, 1vw, 18px);
  background-color: #e0dbef;
}

/* footer */
#footer {
  border: 1px solid black;
  width: 100%;
  margin: clamp(5px, 1vh, 15px) 0;
  height: clamp(50px, 7vh, 80px);
  position: relative;
}

/* button 사용하지 않고, link 연결 시 main.css - #add-write와 min-width 참고 */
#upload-write {
  position: absolute;
  top: clamp(10px, 1.5vh, 25px);
  right: clamp(10px, 2vw, 30px);
  color: #6c5a72;
  cursor: pointer;
}
